.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  &__text-copyright {
    font-size: 16px;
    text-align: right;
  }

  &__social {
    text-align: left;
    display: flex;
    justify-content: space-around;
    width: 150px;
    background-image: none;
    @include bob-animation(&);
  }

  &__logo {
    height: 32px;
    width: 32px;
  }

  .test {
    margin: 0;
    width: 0;
    height: 0;
  }
}
