/* Overrides for global styles */
a.no-underline {
  text-decoration: none;
  background-image: none;
  color: inherit; }
  a.no-underline.active {
    border-color: #0071de; }

p {
  margin: 0;
  padding: 0; }

.center {
  text-align: center; }

/* Sticky footer*/
html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column; }

main {
  flex: 1; }

.errorlist li {
  color: red; }

.content h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em; }

.content h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em; }

.content h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.17em; }

.content h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }

.content h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.83em; }

.content h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75em; }

.content a {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  margin: 0 0 1em;
  color: #06A9E8;
  text-decoration: none; }
  .content a:focus, .content a:hover {
    text-decoration: underline; }

.content p, .content li {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  margin: 0 0 1em; }

.content code {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  margin: 0 0 1em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.entries__container {
  padding-top: 3em; }

.entries-table {
  text-align: left;
  font-size: 16px;
  width: 100%;
  margin-top: 3em;
  border-spacing: 0; }
  .entries-table th {
    padding: 1em; }
  .entries-table__row:nth-child(even), .entries-table__row--header {
    background: #f5f5f5; }
  .entries-table__cell {
    padding: 1em; }
    .entries-table__cell--bold {
      font-weight: bold; }

.invoice {
  width: 595px;
  height: 842px;
  margin: 0 auto;
  font-size: 12px; }
  .invoice p {
    font-size: 12px; }
  .invoice__head {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em; }
  .invoice__header {
    display: block; }
  .invoice__info {
    float: right; }
  .invoice__total-hours {
    font-weight: bold; }
  .invoice__details {
    width: 100%;
    padding-top: 1px; }
    .invoice__details td {
      padding: 0.3em; }
    .invoice__details th {
      text-align: left; }
  .invoice__identity {
    text-align: center;
    color: grey; }
  .invoice__address {
    margin-bottom: 1em; }
  .invoice__totals {
    margin: 1em 0; }

.navbar {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar--right {
    list-style: none;
    display: flex; }
  .navbar__tab {
    padding: 0 1em; }
    .navbar__tab:before {
      content: ''; }
  .navbar__toggle {
    display: none; }
  @media only screen and (max-width: 767px) {
    .navbar {
      padding: 1em 0;
      flex-flow: wrap; }
      .navbar__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 0;
        margin: 0; }
      .navbar__toggle {
        padding: 0; }
        .navbar__toggle, .navbar__toggle:active, .navbar__toggle:focus, .navbar__toggle:visited, .navbar__toggle:hover {
          display: block;
          border: none;
          background: transparent;
          box-shadow: none;
          margin: 0; }
      .navbar__collapse {
        max-height: 500px;
        overflow-y: auto;
        transition: max-height 0.3s ease-out;
        width: 100%;
        z-index: 1;
        background: #FFF;
        box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2); }
        .navbar__collapse--collapsed {
          max-height: 0;
          overflow-y: hidden;
          z-index: 1;
          background: #FFF; }
      .navbar--right {
        flex-direction: column;
        padding: 0;
        margin: 0;
        z-index: 1;
        background: #FFF; }
      .navbar__tab {
        padding: 1em 1.5em;
        border-bottom: 1px solid #808080;
        z-index: 1;
        background: #FFF; }
        .navbar__tab:first-child {
          border-top: 1px solid #808080; }
      .navbar__icon {
        width: 30px;
        height: 30px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer; }
        .navbar__icon span {
          display: block;
          position: absolute;
          height: 3px;
          width: 100%;
          background: #41403e;
          border-radius: 3px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: .25s ease-in-out; }
          .navbar__icon span:nth-child(1) {
            top: 0px; }
          .navbar__icon span:nth-child(2) {
            top: 10px; }
          .navbar__icon span:nth-child(3) {
            top: 20px; }
        .navbar__icon.open span:nth-child(1) {
          top: 10px;
          transform: rotate(135deg); }
        .navbar__icon.open span:nth-child(2) {
          opacity: 0;
          left: -60px; }
        .navbar__icon.open span:nth-child(3) {
          top: 10px;
          transform: rotate(-135deg); } }
  @media only screen and (min-width: 767px) and (max-width: 1024px) {
    .navbar__header {
      margin: 0; } }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em; }
  .footer__text-copyright {
    font-size: 16px;
    text-align: right; }
  .footer__social {
    text-align: left;
    display: flex;
    justify-content: space-around;
    width: 150px;
    background-image: none;
    /* Bob animation for icons; src: https://codepen.io/vavik96/pen/waBgya */ }

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }
    .footer__social .footer__social {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale; }
    .footer__social .footer__social:hover, .footer__social .footer__social:focus, .footer__social .footer__social:active {
      -webkit-animation-name: hvr-bob-float, hvr-bob;
      animation-name: hvr-bob-float, hvr-bob;
      -webkit-animation-duration: .3s, 1.5s;
      animation-duration: .3s, 1.5s;
      -webkit-animation-delay: 0s, .3s;
      animation-delay: 0s, .3s;
      -webkit-animation-timing-function: ease-out, ease-in-out;
      animation-timing-function: ease-out, ease-in-out;
      -webkit-animation-iteration-count: 1, infinite;
      animation-iteration-count: 1, infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-direction: normal, alternate;
      animation-direction: normal, alternate; }
  .footer__logo {
    height: 32px;
    width: 32px; }

.blog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px; }

.blog__item {
  display: flex;
  padding: 24px 0;
  text-indent: 0; }
  .blog__item::before {
    content: ""; }
  .blog__item:nth-child(even) .blog__inner {
    flex-direction: row-reverse; }

.blog__inner {
  display: flex; }

.blog__image {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.blog__info {
  display: flex;
  flex-direction: column;
  padding: 16px; }

.blog__title {
  display: inline-block;
  background-image: none;
  color: #41403e;
  font-size: 22px;
  margin-bottom: 10px; }
  .blog__title:hover {
    text-decoration: underline; }
  .blog__title--large {
    font-size: 42px;
    text-align: left;
    margin-bottom: 0; }
    .blog__title--large:hover {
      text-decoration: none; }
    @media only screen and (max-width: 767px) {
      .blog__title--large {
        font-size: 36px; } }

.blog__description {
  text-align: justify;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54); }

.blog__footer {
  font-size: 14px;
  padding: 10px 0; }

.blog__text {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 24px; }
  @media only screen and (max-width: 767px) {
    .blog__text {
      font-size: 18px; } }

.blog__header {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 24px; }

@page {
  size: a4 portrait;
  margin: 10mm; }

@media print {
  a[href]:after {
    content: none !important; }
  .invoice {
    height: 100%;
    width: 100%;
    font-size: 12px; }
    .invoice p {
      font-size: 12px; } }
