@import url(~bootstrap/dist/css/bootstrap.css);
/* Overrides for global styles */
a.no-underline {
  text-decoration: none;
  background-image: none;
  color: inherit; }
  a.no-underline.active {
    text-decoration: underline; }

p {
  margin: 0;
  padding: 0; }

.center {
  text-align: center; }

/* Sticky footer*/
html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column; }

main {
  flex: 1; }

.errorlist li {
  color: red; }

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 2.5rem; } }

.content h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em; }

.content h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em; }

.content h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.17em; }

.content h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }

.content h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.83em; }

.content h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75em; }

.content a {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  margin: 0 0 1em;
  color: #06A9E8;
  text-decoration: none; }
  .content a:focus, .content a:hover {
    text-decoration: underline; }

.content p, .content li {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  margin: 0 0 1em; }

.content code {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  margin: 0 0 1em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.entries__container {
  padding-top: 3em; }

.entries-table {
  text-align: left;
  font-size: 16px;
  width: 100%;
  margin-top: 3em;
  border-spacing: 0; }
  .entries-table th {
    padding: 1em; }
  .entries-table__row:nth-child(even), .entries-table__row--header {
    background: #f5f5f5; }
  .entries-table__cell {
    padding: 1em; }
    .entries-table__cell--bold {
      font-weight: bold; }

.invoice {
  width: 595px;
  height: 842px;
  margin: 0 auto;
  font-size: 12px; }
  .invoice p {
    font-size: 12px; }
  .invoice__head {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em; }
  .invoice__header {
    display: block; }
  .invoice__info {
    float: right; }
  .invoice__total-hours {
    font-weight: bold; }
  .invoice__details {
    width: 100%;
    padding-top: 1px; }
    .invoice__details td {
      padding: 0.3em; }
    .invoice__details th {
      text-align: left; }
  .invoice__identity {
    text-align: center;
    color: grey; }
  .invoice__address {
    margin-bottom: 1em; }
  .invoice__totals {
    margin: 1em 0; }

.navbar {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar--right {
    list-style: none;
    display: flex; }
  .navbar__tab {
    padding: 0 1em; }
    .navbar__tab:before {
      content: ''; }
  .navbar__toggle {
    display: none; }
  @media only screen and (max-width: 767px) {
    .navbar {
      padding: 1em 0;
      flex-flow: wrap; }
      .navbar__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 0 1em 1em; }
      .navbar__toggle {
        padding: 0; }
        .navbar__toggle, .navbar__toggle:active, .navbar__toggle:focus, .navbar__toggle:visited, .navbar__toggle:hover {
          display: block;
          border: none;
          background: transparent;
          box-shadow: none;
          margin: 0; }
      .navbar__collapse {
        max-height: 500px;
        overflow-y: auto;
        transition: max-height 0.3s ease-out;
        width: 100%;
        z-index: 1;
        background: #fff;
        box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2); }
        .navbar__collapse--collapsed {
          max-height: 0;
          overflow-y: hidden;
          z-index: 1;
          background: #fff; }
      .navbar--right {
        flex-direction: column;
        padding: 0;
        margin: 0;
        z-index: 1;
        background: #fff; }
      .navbar__tab {
        padding: 1em 1.5em;
        border-bottom: 1px solid #808080;
        z-index: 1;
        background: #fff; }
        .navbar__tab:first-child {
          border-top: 1px solid #808080; }
      .navbar__icon {
        width: 30px;
        height: 30px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer; }
        .navbar__icon span {
          display: block;
          position: absolute;
          height: 3px;
          width: 100%;
          background: #41403e;
          border-radius: 3px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: .25s ease-in-out; }
          .navbar__icon span:nth-child(1) {
            top: 0px; }
          .navbar__icon span:nth-child(2) {
            top: 10px; }
          .navbar__icon span:nth-child(3) {
            top: 20px; }
        .navbar__icon.open span:nth-child(1) {
          top: 10px;
          transform: rotate(135deg); }
        .navbar__icon.open span:nth-child(2) {
          opacity: 0;
          left: -60px; }
        .navbar__icon.open span:nth-child(3) {
          top: 10px;
          transform: rotate(-135deg); } }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em; }
  .footer__text-copyright {
    font-size: 16px;
    text-align: right; }
  .footer__social {
    text-align: left;
    display: flex;
    justify-content: space-around;
    width: 150px;
    background-image: none;
    /* Bob animation for icons; src: https://codepen.io/vavik96/pen/waBgya */ }

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }
    .footer__social .footer__social {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale; }
    .footer__social .footer__social:hover, .footer__social .footer__social:focus, .footer__social .footer__social:active {
      -webkit-animation-name: hvr-bob-float, hvr-bob;
      animation-name: hvr-bob-float, hvr-bob;
      -webkit-animation-duration: .3s, 1.5s;
      animation-duration: .3s, 1.5s;
      -webkit-animation-delay: 0s, .3s;
      animation-delay: 0s, .3s;
      -webkit-animation-timing-function: ease-out, ease-in-out;
      animation-timing-function: ease-out, ease-in-out;
      -webkit-animation-iteration-count: 1, infinite;
      animation-iteration-count: 1, infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-direction: normal, alternate;
      animation-direction: normal, alternate; }
  .footer__logo {
    height: 32px;
    width: 32px; }

.greeting {
  display: flex;
  height: 80vh;
  align-items: center; }

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .login__form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .login__form p {
      margin-bottom: 1em; }
      .login__form p:last-of-type {
        display: flex; }
        .login__form p:last-of-type label {
          margin-right: 1em; }
        .login__form p:last-of-type input {
          width: 15px;
          height: 15px; }
    .login__form .primaryAction {
      margin-top: 2em; }

.btn__logout {
  margin-top: 2em; }

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em; }
  @media only screen and (max-width: 767px) {
    .projects {
      padding: 1em; } }

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em 10%;
  height: 100%; }
  .about__inner {
    display: flex;
    max-width: 70%; }
  .about__block {
    padding: 0 1em; }
  .about__img {
    filter: grayscale(100%); }
  @media only screen and (max-width: 767px) {
    .about {
      padding: 2em 5%; }
      .about__inner {
        max-width: 100%; } }

.portfolio {
  display: flex;
  justify-content: center; }
  .portfolio__entry {
    margin-right: 2em;
    width: 20rem; }
  .portfolio__link {
    background-image: none;
    display: block;
    color: #41403e !important; }
  @media only screen and (max-width: 767px) {
    .portfolio {
      flex-flow: wrap; }
      .portfolio__entry {
        margin: 1em auto; } }

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80%;
  font-size: 30px; }
  .contact__header {
    margin: 0;
    font-size: 3rem; }
  .contact__means-item {
    margin: 0.5em 0; }
  @media only screen and (max-width: 767px) {
    .contact {
      height: 100%; } }
