{% extends "base.html" %}{% load i18n staticfiles %}

{% block title %}About | Oleksandr Khomenko{% endblock %}

{% block header %}
    {% include "includes/navbar.html" with active='about' %}
{% endblock %}

{% block content %}
    <div class="about">
        <div class="about__inner">
            <div class="about__block about__block--text">
                {% blocktrans %}
                    <p>
                        Based in Helsinki, Finland. Currently working as a web developer at
                        <a href="https://www.happeo.com/" target="_blank" rel="noreferrer noopener">Happeo</a>, a
                        digital workplace platform. Sometimes I take freelance work.
                    </p>
                    <br>
                    <p>
                        I specialise in front end web development using modern tools, but also have experience with
                        back end and devOps work. Technologies I have worked with include:
                    </p>
                    <ul>
                        <li>Styled Components, Bootstrap, Materialize, Material Design Lite, Paper.css</li>
                        <li>ES201x, Backbone.js, jQuery, React, Redux</li>
                        <li>Jest, Enzyme, Jasmine, Mocha, Chai, Sinon</li>
                        <li>Grunt, Gulp, Browserify, Webpack</li>
                        <li>Handlebars, Mustache</li>
                        <li>Django, Ruby/Rails, Node.js</li>
                        <li>Kubernetes, CI</li>
                    </ul>
                    <p>Recently I have been working mostly with <strong>React, Redux, Styled Components </strong>and
                        <strong>Node.js</strong>.</p>
                    <br>
                    <p>
                        I am passionate about learning new things and applying my knowledge to build exciting stuff.
                        Computers aside, I enjoy sports, listening to the music and reading books. One of the latest
                        hobbies has been home brewing.
                    </p>
                    <br>
                    <p>Certification:</p>
                    <ul>
                        <li>
                            <a href="https://courses.edx.org/certificates/user/6897305/course/HarvardX/CS50x3/2015">
                                Harvard's CS50 Honor Code Certificate
                            </a>
                        </li>
                        <li>
                            <a href="https://www.freecodecamp.org/certification/clarity-89/legacy-front-end">
                                Free Code Camp's Front End Development Program
                            </a>
                        </li>
                    </ul>
                {% endblocktrans %}
            </div>
        </div>
    </div>
{% endblock %}
