{% load i18n static %}<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Front end developer | Alex Khomenko{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Alex Khomenko - web developer, personal website and portfolio">
    <meta name="author" content="Alex Khomenko">
    <meta name="google-site-verification" content="U6RD1PbTLGlZGkXkbAFJaodD9xpct_2HZ1s1CQGSS88"/>
    {% block thumbnail %}
        <meta property="image" content="{{ request.get_host }}/media/blog/deathtostock.jpg">
        <!-- Twitter tags -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:creator" content="@Clarity_89"/>
        <meta property="twitter:image" content="{{ request.get_host }}/media/blog/deathtostock.jpg">
        <meta name="twitter:title" content="Alex Khomenko - Front end developer">
        <meta name="twitter:description" content="Alex Khomenko - web developer, personal website and portfolio">
        <meta name="twitter:url" content="{{ request.get_host }}">
        <!-- FB tags -->
        <meta property="og:url" content="{{ request.get_host }}"/>
        <meta property="og:title" content="Alex Khomenko - Front end developer"/>
        <meta property="og:description" content="Alex Khomenko - web developer, personal website and portfolio"/>
        <meta property="og:image" content="{{ request.get_host }}/media/blog/deathtostock.jpg">
    {% endblock %}

    {% block main_css %}
        <link href="{% static 'css/screen.css' %}" media="screen" rel="stylesheet"/>
    {% endblock %}

    {% block extra_css %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">
</head>

<body class="{% block body-class %}{% endblock %}">

{% block header %}{% endblock %}

<main>
    {% block content %} {% endblock %}
</main>

{% block footer %}
    <footer class="footer">
        <p class="footer__social">
            <a class="footer__social" href="https://www.linkedin.com/in/oleksandr-khomenko-81310b48/">
                <img class="footer__logo" width='32' height="32" src="{% static 'img/logos/linkedin.webp' %}"
                     alt="Linkedin">
            </a>

            <a class="footer__social" href="https://github.com/Clarity-89">
                <img class="footer__logo" width='32' height="32" src="{% static 'img/logos/github.webp' %}"
                     alt="Github">
            </a>

            <a class="footer__social" href="https://www.codewars.com/users/Clarity">
                <img class="footer__logo" width='32' height="32" src="{% static 'img/logos/codewars.svg' %}"
                     alt="Codewars">
            </a>

            <a class="footer__social" href="https://twitter.com/Clarity_89">
                <img class="footer__logo" width='32' height="32" src="{% static 'img/logos/twitter.webp' %}"
                     alt="Twitter">
            </a>
        </p>
        <p class="footer__text-copyright">
            © Copyright {% now "Y" %} Alex Khomenko. {% trans "All rights reserved" %}.
        </p>
    </footer>
{% endblock footer %}

{% block scripts %}
    <script defer src="{% static 'js/app.js' %}"></script>
    {% include 'includes/scripts.html' %}
{% endblock %}
</body>
</html>
