.invoice {

  &__head {
    text-transform: uppercase;
    text-align: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__total-hours {
    font-weight: bold;
  }

  &__details {
    td {
      padding: 0.3em;
    }
  }
}
