.invoice {
  // Approx A4 size in pixels
  width: 595px;
  height: 842px;
  margin: 0 auto;
  font-size: 12px;

  hr {
    width: 100%;
    margin: 12px 0;
  }

  p {
    font-size: 12px;
  }

  &__head {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
  }

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__total-hours {
    font-weight: bold;
  }

  &__details {
    width: 100%;
    padding-top: 1px;

    td {
      padding: 0.3em;
    }

    th {
      text-align: left;
    }
  }

  &__identity {
    text-align: center;
    color: grey;
  }

  &__address {
    margin-bottom: 1em;
  }

  &__totals {
    margin: 1em 0;
  }

  &__header-section {
    width: 100%;
  }
}