.invoice {
  // Approx A4 size in pixels
  width: 595px;
  height: 842px;
  margin: 0 auto;
  font-size: 12px;

  p {
    font-size: 12px;
  }

  &__head {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
  }

  &__header {
    display: block;
  }

  &__info {
    float: right;
  }

  &__total-hours {
    font-weight: bold;
  }

  &__details {
    width: 100%;
    padding-top: 1px;

    td {
      padding: 0.3em;
    }

    th {
      text-align: left;
    }
  }

  &__identity {
    text-align: center;
    color: grey;
  }
}
