{% extends "base.html" %}{% load i18n static blog %}

{% block title %}{{ blog_post.title }} | Alex Khomenko{% endblock %}

{% block header %}
    {% include "includes/navbar.html" with active="blog" %}
{% endblock %}
{% block thumbnail %}
    {% if  blog_post.image %}
        <meta property="image" content="{{ blog_post.image.url }}">
        <!-- Twitter tags -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:creator" content="@Clarity_89"/>
        <meta property="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{ blog_post.image.url }}">
        <meta name="twitter:title" content="{{ blog_post.title }}">
        <meta name="twitter:description" content="{{ blog_post.description|truncatechars:140 }}">
        <meta name="twitter:url" content="{{ request.get_host }}{{ blog_post.get_absolute_url }}">
        <!-- FB tags -->
        <meta property="og:url" content="{{ request.get_host }}{{ blog_post.get_absolute_url }}"/>
        <meta property="og:title" content="{{ blog_post.title }}"/>
        <meta property="og:description" content="{{ blog_post.description|truncatechars:140 }}"/>
        <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ blog_post.image.url }}">
    {% endif %}
{% endblock %}

{% block extra_css %}
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
          as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
              rel="stylesheet" media="screen">
    </noscript>
    <link rel="canonical" href="https://claritydev.net{{ blog_post.get_absolute_url }}">
{% endblock %}

{% block content %}
    <article class="blog__container">
        <section class="blog__header">
            <h3 class="blog__title blog__title--large">{{ blog_post.title }}</h3>
            <p class="blog__footer">
                {{ blog_post.pub_date|date }} <span>&#183;</span> {% time_to_read text=blog_post.text|striptags %}
            </p>
            <div class="blog__extra">
                <div class="blog__tags">
                    {% for tag in blog_post.tags.all %}
                        <span class="badge">{{ tag }}</span>
                    {% endfor %}
                </div>
                <ul class="blog__social-list">
                    <li class="blog__social-list-item">
                        <a href="https://twitter.com/intent/tweet?text={{ blog_post.title }}&url=https://claritydev.net{{ request.path }}"
                           rel="me" popover-top="{% trans 'Share on Twitter' %}">
                            <img class="blog__social-logo" src="{% static 'img/logos/twitter.png' %}" alt="Twitter">
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        {% if blog_post.image %}
            <section class="blog__image blog__image--large"
                     style="background-image: url({{ blog_post.image.url }})">
                {% if blog_post.image_credit %}
                    <p class="blog__image-credit">{% trans 'Image credit' %}: {{ blog_post.image_credit }}</p>
                {% endif %}
            </section>
        {% endif %}
        {% include 'includes/cw_banner.html' %}
        <section class="blog__text">{{ blog_post.text|safe }}</section>
        {% include "includes/cw_promo.html" %}
        {% include 'includes/cw_banner.html' %}
    </article>
{% endblock %}

