{% extends "base.html" %}{% load i18n staticfiles %}

{% block header %}
    {% include "includes/navbar.html" with active="blog" %}
{% endblock %}

{% block content %}
    <div class="blog__container">
        <ul class="blog__list row flex-center">
            {% for post in  blog_posts %}
                <li class="blog__item sm-12 md-8">
                    <a href="{{ post.get_absolute_url }}" class="blog__name">{{ post.title }}</a>
                    <small class="blog_pub-date">{{ post.pub_date }}</small>
                    <p class="blog__text">{{ post.description }}</p>
                    <div class="blog__tags">{{ blog.tags }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
