{% extends "bs.html" %}{% load i18n %}


{% block content %}
    <section class="projects">
        {% for project in projects %}

            {% ifchanged project.client %}
                <h1 class="client">{{ project.client.name }}</h1>
            {% endifchanged %}

            <div class="dashboard__item project">
                <h2 class="project__title">{{ project.name }}</h2>
                <p class="project__details">
                    {% if project.flat_fee %}
                        {% trans "Flat fee" %}: {{ project.flat_fee }} &euro;
                    {% else %}
                        {% trans "Hourly rate" %}: {{ project.base_rate }} &euro;
                    {% endif %}
                </p>

                <p class="project__details">
                    {% with project.n_workentries as count %}
                        {% if count > 1 %}
                            <a href="{% url 'work_entries:list' project_slug=project.slug %}">
                                {% blocktrans %}
                                    {{ count }} work entries logged
                                {% endblocktrans %}
                            </a>
                        {% elif count == 1 %}
                            <a href="{% url 'work_entries:list' project_slug=project.slug %}">
                                {% blocktrans %}
                                    {{ count }} work entry logged
                                {% endblocktrans %}
                            </a>
                        {% else %}
                            {% blocktrans %}
                                No entries for the project have been logged yet
                            {% endblocktrans %}
                        {% endif %}
                    {% endwith %}
                </p>
            </div>
        {% endfor %}
    </section>
{% endblock content %}
