{% extends "bs.html" %}{% load i18n %}


{% block content %}
    <section class="projects">
        {% for project in projects %}

            {% ifchanged project.client %}
                <h1 class="client">{{ project.client.name }}</h1>
            {% endifchanged %}

            <div class="dashboard__item project">
                <h2 class="project__title">{{ project.name }}</h2>
                <p class="project__details">
                    <i class="fa fa-eur"></i>
                    {% if project.flat_fee %}
                        {% trans "Flat fee" %}: {{ project.flat_fee }}
                    {% else %}
                        {% trans "Hourly rate" %}: {{ project.base_rate }}
                    {% endif %}
                </p>
                <p class="project__details">
                    <a href="{% url 'work_entries:list' project_slug=project.slug %}">
                        {% blocktrans with count=project.n_workentries trimmed %}
                            {{ count }} work entries logged
                        {% endblocktrans %}</a>
                </p>
            </div>

        {% endfor %}

    </section>
{% endblock content %}
