.portfolio {
  display: flex;
  justify-content: center;
  flex-flow: wrap;

  &__entry {
    margin: 0 32px 32px 0;
    width: 20rem;

    img {
      max-height: 200px;
      margin: 0 auto;
    }
  }

  &__link {
    background-image: none;
    display: block;
    color: $text-color !important;
  }

  @include xs-screen {
    flex-flow: wrap;

    &__entry {
      margin: 1em auto;
    }
  }
}
