.portfolio {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  max-width: 1400px;
  margin: 0 auto;

  &__entry {
    margin: 0 32px 56px 0;
    width: 20rem;

    img {
      max-height: 200px;
      margin: 0 auto;
    }
  }

  &__link {
    background-image: none;
    display: block;
    color: $text-color !important;
  }

  @include xs-screen {
    flex-flow: wrap;

    &__entry {
      margin: 1em auto;
    }
  }

  .card-title {
    margin-bottom: 24px !important;
  }
}
