/* Overrides for global styles */
a.no-underline {
  text-decoration: none;
  background-image: none;
  color: inherit;

  &.active {
    border-color: $active;
  }
}

p {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

/* Sticky footer*/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.errorlist {
  li {
    color: red;
  }
}

pre code {

  &, * {
    font-size: 16px !important;
  }

  @media only screen and (max-width: 767px) {
    &, * {
      font-size: 14px !important;
    }
  }
}
