{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block header %}
    {% include "includes/navbar.html" with active='login' %}
{% endblock %}

{% block content %}

    <div class="login">
        <h1>{% trans "Log In" %}</h1>

        <form class="login__form" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <a class="button secondaryAction"
               href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
        </form>
    </div>

{% endblock %}
