<section class="blog__text sponsored">
    <a rel="sponsored" href="https://www.cloudways.com/en/?id=1329632&amp;a_bid=61dde566" target="_top">
        <img class="sponsored__img" src="//www.cloudways.com/affiliate/accounts/default1/banners/61dde566.jpg"
             alt="The Ultimate Managed Hosting Platform" title="The Ultimate Managed Hosting Platform"
             width="728" height="90"/></a>
    <img style="border:0"
         src="https://www.cloudways.com/affiliate/scripts/imp.php?id=1329632&amp;a_bid=61dde566"
         width="1" height="1" alt=""/>
</section>