{% load i18n static %}
<nav class="navbar">
    <div class="navbar__header">
        <div class="navbar--left">
            <a class="no-underline {% if active == 'home' %}active{% endif %}" href="/">{% trans "Home" %}</a>
        </div>

        <button type="button" class="navbar__toggle collapsed" aria-expanded="false">
            {% comment %} <i class="fa fa-bars" aria-hidden="true"></i>{% endcomment %}
            <div id="nav-icon" class="navbar__icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
    </div>

    <div class="navbar__collapse navbar__collapse--collapsed">
        <ul class="navbar--right">
            <li class="navbar__tab">
                <a class="no-underline {% if active == 'portfolio' %}active{% endif %}"
                   href="{% url 'portfolio:list' %}">
                    {% trans "Portfolio" %}
                </a>
            </li>
            <li class="navbar__tab">
                <a class="no-underline {% if active == 'blog' %}active{% endif %}"
                   href="{% url 'blog:list' %}">
                    {% trans "Blog" %}
                </a>
            </li>
            <li class="navbar__tab">
                <a class="no-underline {% if active == 'about' %}active{% endif %}" href="{% url 'about' %}">
                    {% trans "About" %}
                </a>
            </li>
            <li class="navbar__tab">
                <a class="no-underline {% if active == 'contact' %}active{% endif %}" href="{% url 'contact' %}">
                    {% trans "Contact" %}
                </a>
            </li>
{#            {% if user.is_authenticated %}#}
{#                <li class="navbar__tab">#}
{#                    <a class="no-underline {% if active == 'projects' %}active{% endif %}"#}
{#                       href="{% url 'accounts:projects' %}">#}
{#                        {% trans "Projects" %}#}
{#                    </a>#}
{#                </li>#}
{##}
{#                <li class="navbar__tab">#}
{#                    <a class="no-underline {% if active == 'logout' %}active{% endif %}"#}
{#                       href="{% url 'account_logout' %}">#}
{#                        {% trans "Logout" %}#}
{#                    </a>#}
{#                </li>#}
{#            {% else %}#}
{#                <li class="navbar__tab">#}
{#                    <a class="no-underline {% if active == 'login' %}active{% endif %}"#}
{#                       href="{% url 'account_login' %}">#}
{#                        {% trans "Login" %}#}
{#                    </a>#}
{#                </li>#}
{#            {% endif %}#}
        </ul>
    </div>
</nav>
