{% extends "base.html" %}{% load i18n math invoices %}

{% block body-class %}pdf invoice{% endblock %}

{% block header %}
    <h2 class="invoice__head">{% trans "Invoice" %}</h2>
    <div class="invoice__header">
        <div class="invoice__info">
            <p class="invoice__date"><strong>{% trans "Date" %}:</strong> {{ invoice.date }}</p>
            <p class="invoice__number"><strong>{% trans "Number" %}:</strong> {{ invoice.invoice_number }}</p>
        </div>

        <div class="invoice__details">
            {% company_details %}
            {% company_details invoice.client %}
        </div>

    </div>
{% endblock %}

{% block content %}
    <div>
        <div>
            {% if not invoice.vat_reverse_charge %}
                <section>
                    {# Tax rates #}
                    <h3>{% trans "Applied tax rates" %}</h3>
                    <div>
                        <table>
                            <tr>
                                <th>{% trans "Rate" %}</th>
                                <th>{% trans "Number of times applied" %}</th>
                            </tr>

                            {% for tax_rate in tax_rates %}
                                <tr>
                                    <td>{{ tax_rate.tax_rate|percentage }}</td>
                                    <td>{{ tax_rate.num }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </section>

                <hr>
            {% endif %}

            {% if invoice.due_date %}
                <p>
                    {% blocktrans with due_date=invoice.due_date|date:"d/m/Y" %}
                        Please transfer the total sum by {{ due_date }}.
                    {% endblocktrans %}
                </p>
            {% endif %}
        </div>
    </div>
    <hr>
    <section class="page-break">
        <table class="invoice__details">
            <thead>
            <tr>
                <th>{% trans "Notes" %}</th>
                <th>{% trans "Date" %}</th>
                <th>
                    {% blocktrans %}
                        Amount <br> (hours)
                    {% endblocktrans %}
                </th>
                <th>
                    {% blocktrans %}
                        Rate <br> (€ / hour)
                    {% endblocktrans %}
                </th>
                <th>{% trans "Flat fee" %}</th>

                {% if not invoice.vat_reverse_charge %}
                    <th>{% trans "Tax rate" %}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                {#                {% ifchanged item.project %}#}
                {#                    <tr class="project-row">#}
                {#                        <th colspan="{{ invoice.vat_reverse_charge|yesno:'4,5' }}">#}
                {#                            {% blocktrans with proj=item.project.name %}{{ proj }}{% endblocktrans %}#}
                {#                        </th>#}
                {#                    </tr>#}
                {#                {% endifchanged %}#}
                <tr>
                    <td>{{ item.remarks }}</td>
                    <td>{{ item.date|date:" d/m/y" }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{% if item.project.base_rate %}{{ item.rate }}{% else %}-{% endif %}</td>
                    <td>{% if item.project.flat_fee %}{{ item.rate }}{% else %}-{% endif %}</td>

                    {% if not invoice.vat_reverse_charge %}
                        <td>{{ item.tax_rate|percentage }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <section class="highlight">
        <table>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td class="invoice__total-hours">{% trans "Total hours" %}: {{ invoice.total_hours }}</td>
            </tr>
            {% if invoice.vat_reverse_charge %}
                <tr>
                    <td>
                        <strong>{% trans "Total price" %}: &euro; {{ invoice.total_no_vat|floatformat:2 }}</strong>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <th>{% trans "Total (excl. tax)" %}</th>
                    <th>{% trans "Total tax" %}</th>
                    <th>{% trans "Total (incl. tax)" %}</th>
                </tr>
                <tr>
                    <td>&euro; {{ invoice.total_no_vat|floatformat:2 }}</td>
                    <td>&euro; {{ invoice.total_vat|floatformat:2 }}</td>
                    <td>
                        <span class="total">
                            &euro; <strong>{{ invoice.total_with_vat|floatformat:2 }}</strong>
                        </span>
                    </td>
                </tr>
            {% endif %}
        </table>
    </section>

    <section class="invoice-end">
        {% if invoice.vat_reverse_charge %}
            <hr>
            <strong class="invoice__iban">{% trans "IBAN" %}: {% iban %}</strong>
            <p>{% trans "IC delivery of services EU, no VAT applied." %}</p>
        {% endif %}
        <hr>
        {% identity_string %}
        <hr>
        <p class="pull-right">{% trans "End of invoice" %}</p>
    </section>
{% endblock %}
