{% extends "bs.html" %}{% load i18n math invoices %}

{% block body-class %}pdf invoice{% endblock %}

{% block header %}
    <h2 class="invoice__head">{% trans "Invoice" %}</h2>
    <div class="invoice__header">
        <div class="invoice__info">
            <p class="invoice__date"><strong>{% trans "Date" %}:</strong> {{ invoice.date }}</p>
            <p class="invoice__number"><strong>{% trans "Number" %}:</strong> {{ invoice.invoice_number }}</p>
            {% if  invoice.reference_number %}
                <p><strong>{% trans "Reference Number" %}:</strong> {{ invoice.reference_number }}</p>
            {% endif %}
        </div>

        <div class="invoice__details">
            {% company_details %}
            {% company_details invoice.client %}
        </div>

    </div>
{% endblock %}

{% block content %}
    {% with items.first.project.get_currency_display as currency %}
        <div>
            <div>
                {% if not invoice.vat_reverse_charge %}
                    <section>
                        {# Tax rates #}
                        <h3>{% trans "Applied tax rates" %}</h3>
                        <div>
                            <table>
                                <tr>
                                    <th>{% trans "Rate" %}</th>
                                    <th>{% trans "Number of times applied" %}</th>
                                </tr>

                                {% for tax_rate in tax_rates %}
                                    <tr>
                                        <td>{{ tax_rate.tax_rate|percentage }}</td>
                                        <td>{{ tax_rate.num }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </section>

                    <hr>
                {% endif %}

                {% if invoice.due_date %}
                    <p>
                        {% blocktrans with due_date=invoice.due_date|date:"d/m/Y" %}
                            Please transfer the total sum by {{ due_date }}.
                        {% endblocktrans %}
                    </p>
                {% endif %}
            </div>
        </div>
        <hr>
        <section class="page-break">
            <table class="invoice__details">
                <thead>
                <tr>
                    <th>{% trans "Notes" %}</th>
                    <th>{% trans "Date" %}</th>
                    {% if items.first.project.base_rate %}
                        <th>
                            {% trans "Hours" %}
                        </th>
                        <th>
                            {% blocktrans %}
                                Rate <br> ({{ currency }} / hour)
                            {% endblocktrans %}
                        </th>
                    {% else %}
                        <th>{% trans "Amount" %}</th>
                    {% endif %}
                    {% if items.first.project.flat_fee %}
                        <th>{% trans "Flat fee" %}</th>
                    {% endif %}
                    {% if not invoice.vat_reverse_charge %}
                        <th>{% trans "Tax rate" %}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    {#                {% ifchanged item.project %}#}
                    {#                    <tr class="project-row">#}
                    {#                        <th colspan="{{ invoice.vat_reverse_charge|yesno:'4,5' }}">#}
                    {#                            {% blocktrans with proj=item.project.name %}{{ proj }}{% endblocktrans %}#}
                    {#                        </th>#}
                    {#                    </tr>#}
                    {#                {% endifchanged %}#}
                    <tr>
                        <td>{{ item.remarks|linebreaks }}</td>
                        <td>{{ item.date|date:" d/m/y" }}</td>
                        {% if item.project.base_rate %}
                            <td>{{ item.amount }}</td>
                        {% else %}
                            <td>{{ item.amount|stringformat:'d' }}</td>
                        {% endif %}
                        {% if item.project.base_rate %}
                            <td>{{ item.rate }}</td>
                        {% endif %}
                        {% if item.project.flat_fee %}
                            <td>{{ item.rate }}</td>
                        {% endif %}

                        {% if not invoice.vat_reverse_charge %}
                            <td>{{ item.tax_rate|percentage }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <section class="highlight">
            <table class="invoice__totals">
                <tr>
                    <td></td>
                </tr>
                {% if not items.first.project.flat_fee %}
                    <tr>
                        <td class="invoice__total-hours">{% trans "Total hours" %}: {{ invoice.total_hours }}</td>
                    </tr>
                {% endif %}
                {% if invoice.vat_reverse_charge %}
                    <tr>
                        <td>
                            <strong>{% trans "Total price" %}: {{ currency }} {{ invoice.total_no_vat|floatformat:2 }}</strong>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <th>{% trans "Total (excl. tax)" %}</th>
                        <th>{% trans "Total tax" %}</th>
                        <th>{% trans "Total (incl. tax)" %}</th>
                    </tr>
                    <tr>
                        <td>{{ currency }} {{ invoice.total_no_vat|floatformat:2 }}</td>
                        <td>{{ currency }} {{ invoice.total_vat|floatformat:2 }}</td>
                        <td>
                        <span class="total">
                            {{ currency }} <strong>{{ invoice.total_with_vat|floatformat:2 }}</strong>
                        </span>
                        </td>
                    </tr>
                {% endif %}
            </table>
        <strong>Please use the reference number when paying this invoice.</strong>
        </section>

        <section class="invoice-end">
            {% if invoice.vat_reverse_charge %}
                <hr>
                {% if invoice.client.country != 'US' %}
                    <p>{% trans "IC delivery of services EU, no VAT applied." %}</p>
                    <br>
                {% endif %}
                <h4>{% trans 'Payment information' %}</h4>
                {% bank_details %}
            {% endif %}
            <hr>
            {% identity_string %}
            <hr>
            <p class="pull-right">{% trans "End of invoice" %}</p>
        </section>
    {% endwith %}
{% endblock %}

{% block footer %}{% endblock %}
