.blog {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
    flex: 1 0 auto;
  }

  &__item {
    display: flex;
    padding: 24px 0;
    text-indent: 0;

    &::before {
      content: "";
    }

    &:nth-child(even) {
      @media only screen and (min-width: $xs-screen) {
        .blog__inner {
          flex-direction: row-reverse;
        }
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $xs-screen) {
      flex-direction: column;
    }
  }

  &__image {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 250px;

    &--backup {
      display: none;
    }

    &--large {
      height: 400px;
      max-width: 900px;
      margin-bottom: 24px;
      position: relative;
    }

    &-credit {
      position: absolute;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, .5);
      color: white;
      padding: 5px;
      font-size: 12px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  &__title {
    display: inline-block;
    background-image: none;
    color: $text-color;
    font-size: 22px;
    margin-bottom: 10px;

    &:hover {
      text-decoration: underline;
    }

    &--large {
      font-size: 42px;
      text-align: left;
      margin-bottom: 0;

      &:hover {
        text-decoration: none;
      }

      @media only screen and (max-width: $xs-screen) {
        font-size: 36px;
      }
    }
  }

  &__description {
    text-align: justify;
    font-size: 16px;
    color: $text-secondary;
  }

  &__footer {
    font-size: 14px;
    padding: 10px 0;
  }

  &__extra {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__social-list {
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__social-list-item {
    display: flex;
    align-items: center;
    margin-right: 10px;

    &:before {
      content: '';
    }

    a {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      background-image: none;
      margin: 0;

      &:hover {
        cursor: pointer;
        transform: translate3d(0, 2px, 0);
        box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__social-logo {
    width: 25px;
    height: 25px;
  }

  &__text {
    @include text-block;

    p {
      margin-bottom: 10px;
    }

    ul {
      margin: 0 0 20px 0;
    }

    li {
      line-height: 1.6;
    }

    img {
      margin: 0 auto; // center images inside text

      &.square-image {
        border-radius: 0;
      }
    }

    * {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 18px;
      font-display: swap;
    }

    h2, h3, h4, h5, h6 {
      font-weight: bold;
    }

    code {
      &, & * {
        font-family: monospace !important;
      }
    }

    @media only screen and (max-width: $xs-screen) {
      max-width: initial;
      padding: 16px;
      width: 100%;

      p, a, ul, li, ol {
        font-size: 16px;
      }
    }
  }

  &__header {
    width: 100%;
    @include text-block;
  }


  &__pagination {
    width: 100%;
    display: flex;
    justify-content: center;

    a {
      background-image: none;
      margin: auto 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__list {
    padding: 0;
  }
}
