.navbar {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--right {
    list-style: none;
    display: flex;

  }

  &__tab {
    padding: 0 1em;

    &:before {
      content: ''; // Reset custom list style
    }
  }

  &__toggle {
    display: none;
  }

  @include xs-screen {
    padding: 1em;

    &__toggle {
      &, &:active, &:focus, &:visited {
        display: block;
        border: none;
        background: transparent;
        box-shadow: none;
        margin: 0;
      }

    }

    &__collapse {
      max-height: 500px;
      overflow-y: visible;
      transition: max-height 0.5s linear;

      &--collapsed {
        max-height: 0;
        overflow-y: hidden;
      }
    }
  }
}
