{% extends "base.html" %}{% load i18n work_entries %}


{% block content %}
    <h3 class="entries__header">{{ project.name }}</h3>
    <table class="entries-table">
        <thead class="entries-table__head">
        <tr>
            {% for header in headers %}
                {% include "work_entries/includes/table-header.html" with title=header.name label=header.label sortable=header.sortable order=order direction=direction %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for entry in work_entries %}
            <tr>
                <td>
                    {{ entry.notes }}
                </td>
                <td>
                    {{ entry.date|date:"d/m/y" }}
                </td>
                <td>
                    {{ entry.duration|duration }}
                </td>
                <td>
                    {{ entry.total }}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td><strong>{% trans 'Total' %}</strong></td>
            <td></td>
            <td>{{ total_hours }}</td>
        </tr>
        </tbody>
    </table>
{% endblock content %}
